<nav class="navbar">
  <div class="navbar-container"><img src="../assets/images/logo.png" alt="Logo" class="navbar-logo">
    <ul class="navbar-menu">

       <!-- Imagen del logo -->
      

        <li><a routerLink="/patient-list" routerLinkActive="active">Patient List</a></li>
        <li><a routerLink="/enter-patient" routerLinkActive="active">Enter Patient</a></li>
        <li><a routerLink="/login-user" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <p>© 2025 DUOC UC Online. Todos los derechos reservados.</p>
  </div>
</footer>
  