
<div>
    <div>
        <!-- Encabezado con Logo -->
        <div>
            <p>Alertas médicas</p>
        </div>

        <!-- Cuerpo -->
        <div class="card-body">

            <!-- Botones -->
            <button>
                Iniciar Sesión
            </button>
            <button>
                Cerrar Sesión
            </button>
        </div>

        <!-- Footer -->
        <div class="card-footer">
            <p>© 2025 Front-Duoc-Azure. Todos los derechos reservados.</p>
        </div>
    </div>
