<div class="login-container">
    <!-- Encabezado con Logo -->
    <div class="card-header">
        <p>Alertas médicas</p>
    </div>

    <!-- Cuerpo -->
    <div class="card-body">
        <p *ngIf="!isLoggedIn">Por favor, inicie sesión para acceder al sistema.</p>
        <p *ngIf="isLoggedIn">Sesión iniciada correctamente.</p>

        <!-- Botones -->
        <button *ngIf="!isLoggedIn" (click)="login()">Iniciar Sesión</button>
        <button *ngIf="isLoggedIn" (click)="logout()">Cerrar Sesión</button>
    </div>

    <!-- Footer -->
    <div class="card-footer">
        <p>© 2025 Front-Duoc-Azure. Todos los derechos reservados.</p>
    </div>
</div>
